@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    p {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .grid-3 {
        gap: 1rem;
    }

    .skills-right ul li {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 860px) {
    /* Burger */
    .burger {
        display: block;
        cursor: pointer;
    }

    /* Tanda X start */
    .toggle-burger .line-1 {
        transform: rotate(-45deg) translate(-5px, 7px);
    }
    .toggle-burger .line-2 {
        opacity: 0;
    }
    .toggle-burger .line-3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
    /* Tnada X end */

    /* Navigation */
    nav {
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background: var(--primaryBackgroundColor);
        border-left: 1px solid var(--borderColor);
        z-index: 9;
        transform: translateX(100%); /* hilangkan burger */
        transition: 0.4s ease-in-out;
    }

    nav ul {
        height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: rgba(0, 0, 0, 0.1);
    }

    .nav-active {
        transform: translateX(0);
    }

    :root {
        --sectionPadding: 3rem 0;
    }

    .section-title {
        font-size: 1.5rem;
        margin: 0.6rem 0 2.5rem;
    }

    .pre-title {
        font-size: 0.8rem;
    }

    /* Home Section */
    #home {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .home-right {
        order: -1;
    }

    .home-right img {
        width: 65%;
    }

    .home-left {
        text-align: center;
        padding-bottom: 4.5rem;
    }

    .home-left .pre-title {
        margin: 0 auto;
    }

    .home-name {
        font-size: 2.1rem;
        margin-bottom: 0.5rem;
    }

    /* Skills Section */
    .skills-grid {
        gap: 1rem;
    }

    /* Footer */
    footer {
        padding: 2rem 0;
    }
}

@media screen and (max-width: 680px) {
    /* Titles */
    .section-title {
        font-size: 1.2rem;
    }

    .pre-title {
        font-size: 0.7rem;
    }
}
