@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primaryTextColor: #222831;
    --secondaryTextColor: #656d72;

    --borderColor: #e2dfd0;
    --lineColor: #524c42;

    --primaryBackgroundColor: #fafafa;
    --secondaryBackgroundColor: #f9f9f9;
    --thirdBackgroundColor: #e2edf8;

    --primaryIconColor: #63b1d8;
    --secondaryIconColor: #a0e9ff;
    --primaryIconColorHover: #00a9ff;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

/* START GLOBAL */
/* Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    padding: 0 2rem;
}

/* Titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
    padding-left: 20px;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: var(--lineColor);
    display: block;
    left: 0;
    top: 50%;
}
/* END GLOBAL */

/* START NAVBAR */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryTextColor);
}

.nav ul li {
    display: flex;
    align-items: center;
}

.nav ul li a {
    color: var(--primaryTextColor);
}

/* Button */
.btn {
    padding: 1rem 1.5rem;
    background-color: #fff;
    border: 1.5px solid var(--borderColor);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
}

/* Burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}
/* END NAVBAR */

/* START HOME */
#home {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.home-name span {
    color: var(--primaryIconColor);
}

.home-right img {
    width: 90%;
}

.home-right {
    display: flex;
    justify-content: center;
}
/* END HOME */

/* START SERVICES */
#services {
    padding: var(--sectionPadding);
}

.services .pre-title {
    margin: 0 auto;
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--secondaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.service h4 {
    margin: 1.5rem;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: var(--thirdBackgroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 1rem;
}

.service-icon svg {
    fill: var(--primaryIconColor);
}
/* END SERVICES */

/* START PORTOFOLIOS */
#portofolios {
    padding: var(--sectionPadding);
}

.portofolio {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.portofolio-cover {
    height: 250px;
}

.portofolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portofolio-info {
    padding: 2rem 1.5rem;
}

.portofolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portofolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.portofolio-title a svg:hover {
    fill: var(--primaryIconColor);
}

.portofolio-title a svg {
    transition: 0.2s ease-in-out;
}

.portofolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portofolio-tag div {
    font-size: 0.9rem;
    border: 1px solid var(--borderColor);
    padding: 0.4rem 1rem;
    color: var(--secondaryTextColor);
}
/* END PORTOFOLIOS */

/* START SKILLS & EDUCATION */
#skills {
    padding: var(--sectionPadding);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(350px, 1fr)
    ); /* Koreksi typo dari "350x" menjadi "350px" */
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line {
    padding: 0 0.7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: var(--borderColor);
    position: relative;
}

.education-info p {
    margin: 0.6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

/* The dot on the line */
.education .line div::before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--borderColor);
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}
/* END SKILLS & EDUCATION */

/* START CONTACT */
#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #828485;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 2px solid #6d6d6d;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #ffeeee;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background-color: var(--primaryIconColorHover);
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background-color: var(--thirdBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg {
    fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
    margin-bottom: 0.5rem;
}
/* END CONTACT */

/* START FOOTER */
footer {
    padding: 4rem 0;
    background: var(--thirdBackgroundColor);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons svg {
    fill: #3c3d3f;
}

.footer-icons svg:hover {
    fill: #000;
}
/* END FOOTER */
